/* version 2 */


@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	}

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
	}

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Regular.woff2);
	font-weight: 400;
	font-style: normal;
	}

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Bold.woff2);
	font-weight: 700;
	font-style: bold;
	}
	
@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: 700;
	font-style: bold;
	}	

@font-face {
	font-family: 'Open-Sans';
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

              /*===============  TYPOGRAPHY  =====================*/
html {
	font-size: 20px;
}

body {
	font-family: Open-Sans, Serif;
	color: #000000;
	width: 100%;
	min-width: 320px;
}


.logo {
	width: 190px;
	margin: auto;
	display: block;
}

.mobile_apps {
	display: flex;
	justify-content: center;
	/* margin-top: 10vh; */
}

.button {
	width: 15.3rem;
	height: 3.85rem;
	background: #5e42b0;
	color: #ffffff;
	border-radius: 2rem;
	font-size: 0.7rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.ios_icon {
    background-image: url(../images/apple_logo_black.svg.svg);
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 2rem;
}

.android_icon {
	background-image: url(../images/google_play.svg);
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 2rem;
}

.button_text {
	margin-left: 4rem;
    font-size: 0.7rem;
    line-height: 1.5;
}

.button_text span {
	font-size: 0.7rem;
	font-weight: 700;
	display: block;
}


.header_title {
	font-size: 2.1rem;
	color: #ffffff;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 20vh auto;
	width: 98%

}  

.right {
	margin-left: 30%;
	display: block;
}

.section_title {
	color: #e7e7e7;
	font-size: 4rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.athlets .section_title,
.players .section_title
{

	flex-basis: 50%;
}

.athlets,
.players 
{
	margin-top: 3rem;
	position: relative;
}


.athlets_picture {
	position: absolute;
    top: 1rem;
    left: 0rem;
	z-index: 10;
}

.players_picture {
	position: absolute;
	top: 0rem;
    right: 0rem;
	z-index: 10;
}


.section_text {
	flex-basis: 50%;
}

.section_subtitle {
	color: #c1c1c1;
	font-size: 1.8rem;
	text-transform: uppercase;
	display: flex;
	margin-bottom: 1rem;
}

.counter {
	color: #000000;
	font-size: 0.9rem;
	margin-right: 14px;
	margin-top: 10px;
}

.counter:after {
	content: '';
	display: block;
	border-radius: 0.7rem;
	background: #5e42b0;
	width: 18px;
	height: 5px;
	margin: 6px auto 0;
}

.growth .counter {
	color: #0a0e34;	
}

.growth .counter:after {
	background: #efefef;
}

.players .growth .counter {
	color: #9173e6;
}

.athlets .container,
.connection .container,
.collaboration .container,
.growth .container
{
	display: flex;
	justify-content: flex-end
}



.connection {
	padding-top: 60px;
	padding-bottom: 50px;
}

.collaboration {
	position: relative;
	background-color: #f6f4fa;
	padding-top: 60px;
	padding-bottom: 50px;
}   

.growth {
	background-color: #5339a0;
	color: #fff;
	position: relative;
	padding-top: 60px;
	padding-bottom: 50px;
}


.players .growth {
	background-color: #0a0e34;
}

/*===============  HEADER  =====================*/

.header {
	background-image: url(../images/football_1920.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	position: relative;
	background-color: #666666;

}

.header:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(10, 14, 52, 0.9);

}

.container {
	max-width: 1530px;
	z-index: 1;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.header .container {
	min-height: 100vh;
	padding-top: 2.2rem;
	
}

.arrow {
	width: 50px;
    height: 50px;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.players .container {
	display: flex;
	justify-content: flex-start;
}


.be_active,
.work_it
{
	display: flex;
	position: relative;
}

.find_contact {
	display: flex;
	position: relative;
	flex-direction: row-reverse;
}

.be_active_content,
.work_it_content,
.find_contact_content
{
	flex-basis: 50%;	
	/* background-color: #aeaeae; */
}

.content_breakdown {
	width: 80%;
	margin-top: 7rem;
	margin-left: 6rem;
}


.be_active_content .section_text,
.work_it_content .section_text,
.find_contact .section_text 
{
	font-size: 1.2rem;
	margin-top: 3rem;
}

.section_content {
	flex-basis: 50%;
}

.section_image {
   flex-basis: 50%;
}

.section_image img {
  width: 100%;
  height:100%;
}

.section_counter {
	padding: 2.5rem 3rem 2.5rem 3rem;
	color: #fff;
	background: #5e42b0;
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.section_counter_num:after {
	content: '';
	border-radius: 0.7rem;
	display: block;
	background: #8f7bc8;
    width: 1rem;
    height: 0.3rem;
	margin: 6px auto 0;
}


/********=================== FOOTER =============================***********/


.footer {
	background-image: url(../images/game_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 100vh;
	position: relative;
	background-color: #666666;
}

.footer:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(10, 14, 52, 0.9);
}

.footer .container {
	color: #fff;
	padding-top: 10rem;
}

.footer_cta {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	justify-content: center;
	padding-bottom: 20vh;
}

.footer_icon {
	fill: #ffffff;
	width: 5rem;
	margin-right: 35px;
	background: #5e42b0;
	padding: 1.25rem 0.85rem 1.25rem  0.85rem;
	border-radius: 1.2rem;
}

.footer .mobile_apps {
	display: flex;
    justify-content: center;
}

.footer_content h3 {
	font-size: 4rem;
}

.footer_content span {
	font-size: 1.5rem;
	font-size: 400;
	color: #a496ca;
}

.footer_logo {
	width: 190px;
    margin: 25rem auto 0;
	display: block;
	
}



/* пришлось прописать, чтобы текст был двумя строками, а не тремя */
@media (max-width: 1525px) {
	.right {
		margin-left: 20%;
	}
}

@media (max-width: 1056px) {
	.right {
		margin-left: 0;
	}

	.header_title {
		text-align: center;
	}
}


@media (max-width: 1280px) {
	html {
		font-size: 16px;
	}
.be_active_content .section_text,
.work_it_content .section_text,
.find_contact .section_text {
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

.players_picture {
	width: 70%;
	overflow: hidden;
	top: 0rem;
}

.athlets_picture img {
	
}

.section_counter {
	padding: 1.5rem 2rem 1.5rem 2rem;
}

.footer_logo {
	margin: 37rem auto 0;
}

  }
	
@media (min-width: 641px) and (max-width: 960px) {
	
	.header {
		background-image: url(../images/football_1280.jpg);
		background-repeat: no-repeat;
		min-height: 100vh;
		background-size: cover;
		position: relative;
		background-color: #666666;
	  }
	
	.container {max-width: 960px;}
	
	.header_title,
    .right {
		text-align: center;
		margin-left: 0;
	}

    .athlets_picture {
		left: -10rem;
	}

	.athlets_picture img {
		width: 100%;
	}

	.players_picture {
		width: 55%;
		overflow: hidden;
		top: -1rem;
	}

	.players_picture img {
		width: 100%;
	}

	.section_image img {
		width: 100%;
		height: 100%;
	}
     

.section_title {
	font-size: 3rem;
}

.connection, .collaboration, .growth  {
	padding-top: 2.5rem;
	padding-bottom: 2rem;
}


.section_counter {
	position: relative;
    top: -4rem;
    left: 4rem;
}


.be_active,
.work_it,
.find_contact
{
	display: flex;
	position: static;
	flex-direction: column;
}

.content_breakdown
{
	margin-top: 1rem;
	margin-bottom: 3rem;
    margin-left: 1rem;
	width: 95%;
}

.footer_cta {
	flex-direction: column;
}

.footer_content {
	text-align: center;
}

.footer_icon {
	width: 3rem;
	margin-right: 0;
	position: relative;
	top: -2rem;
}

.footer_logo{
    margin-top: 22rem;
   }

}

@media (max-width: 640px) {
	
	.footer .container {
		padding-top: 10vh;
	}

   .logo,
   .footer_logo 
   {
	   width: 130px;
   }

   .footer_logo {
	   margin-top: 20vh;
   }

   .footer_cta {
	   padding-bottom: 0;
   }


   .header {
    background-image: url(../images/football_767.jpg);
   }

   .header_title {
		font-size: 1.3rem;
		text-align: center;
		margin: 10vh auto;
   }

   .right {
	   text-align: center;
   }

   .section_image img {
	width: 100%;
	height: 100%;
	margin-bottom: -5px;

}

   .container {max-width: 640px;}
  
   .mobile_apps {
	  flex-direction: column;
	  align-items: center;
   }

   .footer .mobile_apps {
	   margin-top: 4vh;
   }


 .button {
	width: 95%;
	height: auto;
	border-radius: 2rem;
	font-size: 0.7rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-right: 0;
	margin-top: 1rem;	

}

.ios_icon,
.android_icon 
{
	left: 35%;
}


.button_text {
  margin-left: 38%;
  font-size: 0.7rem;
  font-style: normal;
  line-height: 1.5;
}

.connection {
	padding-top: 26rem;
}

.athlets_picture img {
	width: 100%;
}

.athlets .connection { 
	padding-top: 28rem;
}

.athlets .section_title,
.players .section_title
{
	flex-basis: 100%;
}

.athlets, 
.players {
   margin-top: 1rem;
}

.athlets_picture
 {
	top: 6rem;
	right: 50%;
	transform: translate(50%);
}

.players_picture {
	top: 9rem;
	right: 50%;
	transform: translate(50%);
	width: 100%;
}

.section_title {
	font-size: 2.8rem;
}


.section_content {
    flex-basis: 98%;
}

.be_active,
.work_it,
.find_contact
{
	display: flex;
	position: static;
	flex-direction: column;
 }


.content_breakdown
{
	margin-bottom: 4rem;
    margin-top: 0;
    margin-left: 1rem;
	width: 95%;
 }

 .section_counter {
	position: relative;
    top: -2rem;
    left: 4rem;
}


.footer {
	background-image: url(../images/game_767.jpg);
}


.footer_cta {
	flex-direction: column;
}

.footer_content {
	text-align: center;
	padding-top: 5vh;
	
}

.footer .mobile_apps {
    margin-top: 10vh;
}

.footer_icon {
	width: 3rem;
	margin-right: 0;
}

.footer_content h3 {
	font-size: 2rem;
}

.footer_content span {
	font-size: 0.85rem;
}

   
  }

@media (max-width: 370px) {
	html {
		font-size: 14px;
	}

	.header_title {
		font-size: 1rem;
		text-align: center;
	}

	.arrow {
		width: 30px;
		height: 30px;
}